*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;

}
#zone_color{
  position: relative;
  width: 100%;
  height: 100%;
 
}
#contro{
  position: absolute;
  text-align: center;
  top:30%;
  left: 35%;
}

